.advantages {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.advantages__item-wrapper {
  margin: 0;
  padding: 54px 18px 40px 18px;
}

.advantages__item {
  margin: 0;
  padding: 0;
}

.advantages__item--picture {
  background-color: #81b3d3;
}

.advantages__title {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 11px;
}

.advantages__number {
  margin: 0;
  padding: 0;
}

.advantages__description {
  padding: 0;
  margin: 0;
  margin-top: 17px;
}

.advantages__title--picture {
  color: #ffffff;
}

.advantages__number--picture {
  color: #ffffff;
}

.advantages__description--picture {
  color: #ffffff;
}

.advantages__item--advantage {
  background-color: #eeeeee;
  padding: 24px;
}
