
.copyright__link {
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.copyright__link-title {
  margin: 0;
  padding: 0;
  margin-right: 10px;
}
