.main-header {
  background-color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
}

.main-header__logo {
  display: inline-block;
  position: absolute;
  margin-bottom: -103px;
  z-index: 1;
  width: 185px;
  height: 96px;
  transform: translateX(-50%);

  @media (min-width: 768px) {
    position: absolute;
    margin-bottom: -103px;
    z-index: 2;
  }
}
