.picture-gallery {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    width: 648px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 58px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 58px;
  }
}

.picture-gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 0;
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 0;
  }
}

.picture-gallery__item {
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;

  @media (min-width: 768px) {
    padding: 0;
    margin: 0;
    width: 324px;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: 1200px) {
    padding: 0;
    margin: 0;
    width: 400px;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.picture-gallery__item::before {
  @media (max-width: 767px) {
    content: "";
    border-top: solid #e5e5e5;
    height: 1px;
    width: 320px;
    position: absolute;
    top: 0;
    right: -20px;
  }
}

.picture-gallery__item::after {
  @media (max-width: 767px) {
    content: "";
    border-top: solid #e5e5e5;
    height: 1px;
    width: 320px;
    position: absolute;
    bottom: -4px;
    right: -20px;
  }
}

.picture-gallery__item-wrapper {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: inherit;
  }

  @media (min-width: 1200px) {
    padding-top: 17px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.picture-gallery__item--width {
  @media (min-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #f2f2f2;
    width: 648px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: 1200px) {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #f2f2f2;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.picture-gallery__link {
  margin: 0;
  padding: 0;
  display: block;
  line-height: 0;
}

.picture-gallery__picture {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  line-height: 0;

  @media (min-width: 768px) {
    margin: 0;
    padding: 0;
    width: 324px;
    object-fit: cover;
    margin-bottom: 22px;
  }

  @media (min-width: 1200px) {
    margin: 0;
    padding: 0;
    width: 400px;
    object-fit: cover;
  }
}

.picture-gallery__picture--width {
  @media (min-width: 768px) {
    object-fit: cover;
    width: 648px;
    height: 400px;
  }

  @media (min-width: 1200px) {
    object-fit: cover;
    width: 1200px;
    height: 400px;
  }
}

.picture-gallery__text {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 209px;
    padding-left: 20px;
  }
}

.picture-gallery__title {
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  @media (min-width: 1200px) {
    color: #ffffff;
  }
}

.picture-gallery__description {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;

  @media (min-width: 1200px) {
    color: #ffffff;
  }
}

.picture-gallery__likes-number {
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  border-style: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  padding-left: 35px;
  position: relative;

  @media (min-width: 768px) {
    padding-right: 27px;
  }

  @media (min-width: 1200px) {
    color: #ffffff;
  }
}

.picture-gallery__like {
  position: absolute;
  left: 0;
  fill: rgba(0, 0, 0, 0.3);
  bottom: 5px;

  @media (min-width: 768px) {
    top: 18px;
  }
}

.picture-gallery__like-color {
  @media (min-width: 768px) {
    fill: rgba(255, 255, 255, 1);
  }
}
