.promo-clip {
  margin: 0;
  padding: 25px 20px 0;
  text-align: center;
  text-transform: uppercase;
}

.promo-clip__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 30px;
}

.promo-clip__description {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.promo-clip__wrapper {
  position: relative;
}

.promo-clip__picture {
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    width: 648px;
    height: 500px;
    object-fit: cover;
  }

  @media (min-width: 1200px) {
    width: 800px;
    height: 500px;
    object-fit: cover;
  }
}

.promo-clip__button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
