.promo {
  text-align: center;
  text-transform: uppercase;
  padding: 33px 20px 36px 20px;

  @media (min-width: 768px) {
    padding: 60px 165px 81px 165px;
  }

  @media (min-width: 1200px) {
    padding: 94px 380px 89px 380px;
  }
}

.promo__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    font-size: 30px;
    margin-bottom: 32px;
  }
}

.promo__description {
  margin: 0;
  padding: 0;
}
