.promo {
  text-align: center;
  text-transform: uppercase;
  padding: 37px 20px 25px 20px;

  @media (min-width: 768px) {
    padding: 66px 165px 67px 165px;
  }

  @media (min-width: 1200px) {
    padding: 100px 380px 65px 380px;
  }
}

.promo__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    font-size: 30px;
  }
}

.promo__description {
  margin: 0;
  padding: 0;
}
