.promo-clip {
  margin: 0;
  padding: 25px 20px;
  text-align: center;
  position: relative;
}

.promo-clip__title {
  margin: 0;
  padding: 0;
}

.promo-clip__description {
  margin: 0;
  padding: 0;
}

.promo-clip__picture {
  margin: 0;
  padding: 0;
}

.promo-clip__button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  position: absolute;
  right: 130px;
  top: 170px;
}
