.reference-form {
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    margin: 0 auto;
    display: grid;
  }

  @media (min-width: 1200px) {
    margin: 0 auto;
    display: grid;
  }
}

.reference-form__information {
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 28px;
  padding-bottom: 34px;
}

.reference-form__information::before {
  @media (max-width: 767px) {
    content: "";
    border-top: solid #e5e5e5;
    height: 1px;
    width: 320px;
    position: absolute;
    top: 0;
    right: -20px;
  }
}


.reference-form__information--line {
  @media (min-width: 768px) {
    margin-right: 88px;
  }

  @media (min-width: 1200px) {
    margin-right: 128px;
  }
}

.reference-form__information--line::after {
  @media (min-width: 768px) {
    position: absolute;
    content: "";
    width: 1px;
    height: 338px;
    background-color: #dbdbdb;
    right: -44px;
    top: 0;
  }

  @media (min-width: 1200px) {
    position: absolute;
    content: "";
    width: 1px;
    height: 338px;
    background-color: #dbdbdb;
    right: -64px;
    top: 0;
  }
}


.reference-form__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 28px;
  position: relative;

  @media (min-width: 768px) {
    font-size: 21px;
    margin: 0;
    margin-bottom: 28px;
  }
}

.reference-form__title--line::before {
  @media (min-width: 768px) {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background: #dbdbdb;
    left: 0;
    top: 50%;
  }

  @media (min-width: 1200px) {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    background: #dbdbdb;
    left: 0;
    top: 50%;
  }
}

.reference-form__title--line::after {
  @media (min-width: 768px) {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background: #dbdbdb;
    right: 0;
    top: 50%;
  }

  @media (min-width: 1200px) {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    background: #dbdbdb;
    right: 0;
    top: 50%;
  }
}

.reference-form__wrapper {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.reference-form__field {
  margin: 0;
  padding: 16px;
  padding-right: 60px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  margin-bottom: 16px;
  border: none;
  box-sizing: border-box;
  width: 280px;
  position: relative;

  &:hover {
    background-color: rgba(229, 229, 229, 1);
  }

  &:focus {
    outline: none;
    background-color: #f2f2f2;
  }

  &:active {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 0 4px #e5e5e5;
  }

  @media (min-width: 768px) {
    width: 280px;
  }

  @media (min-width: 1200px) {
    width: 430px;
  }
}

.reference-form__label {
  padding-left: 16px;
}

.reference-form__label--title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: 768px) {
    font-size: 21px;
  }
}

.reference-form__label--title::before {
  @media (min-width: 768px) {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background: #dbdbdb;
    left: -200px;
    top: 50%;
  }

  @media (min-width: 1200px) {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    background: #dbdbdb;
    left: -355px;
    top: 50%;
  }
}

.reference-form__label--title::after {
  @media (min-width: 768px) {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background: #dbdbdb;
    right: -200px;
    top: 50%;
  }

  @media (min-width: 1200px) {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    background: #dbdbdb;
    right: -355px;
    top: 50%;
  }
}

.reference-form__field--phone-number {
  color: rgba(0, 0, 0, 0.3);
  background-image: url("../img/form/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: right;

  @media (min-width: 1200px) {
    width: 402px;
  }
}

.reference-form__field--email {
  color: rgba(0, 0, 0, 0.3);
  background-image: url("../img/form/mail-icon.svg");
  background-repeat: no-repeat;
  background-position: right;

  @media (min-width: 1200px) {
    width: 402px;
  }
}

.reference-form__list {
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 648px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 1200px) {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 960px;
    display: flex;
    flex-direction: column;
  }
}

.reference-form__opinion {
  margin: 0 auto;
  padding: 0;
  text-align: center;

  @media (min-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 648px;
  }

  @media (min-width: 1200px) {
    width: 960px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.reference-form__comment {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;
  color: rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 56px;
  padding: 16px;
  display: block;

  @media (min-width: 768px) {
    margin: 0 auto;
    margin-bottom: 16px;
    width: 648px;
    margin-top: 28px;
    box-sizing: border-box;
  }

  @media (min-width: 1200px) {
    margin: 0 auto;
    width: 768px;
    margin-top: 28px;
    box-sizing: border-box;
  }
}

.reference-form__button {
  margin: 0;
  padding: 16px 49px;
  display: block;
  width: 280px;

  @media (min-width: 768px) {
    width: 324px;
  }

  @media (min-width: 1200px) {
    width: 384px;
    margin-left: 96px;
  }
}
