.reference-form {
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    margin: 0 auto;
    display: grid;
  }
}

.reference-form__information {
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;

  &::before {
    @media (max-width: 767px) {
      content: "";
      border-top: solid #e5e5e5;
      height: 1px;
      width: 320px;
      position: absolute;
      top: 0;
      right: -20px;
    }
  }

  @media (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.reference-form__information--line {
  @media (min-width: 768px) {
    margin-right: 88px;
  }

  @media (min-width: 1200px) {
    margin-right: 128px;
  }

  &::after {
    @media (min-width: 768px) {
      position: absolute;
      content: "";
      width: 1px;
      height: 338px;
      background-color: #dbdbdb;
      right: -44px;
      top: 17px;
    }

    @media (min-width: 1200px) {
      right: -64px;
    }
  }
}

.reference-form__information--opinion {
  @media (min-width: 768px) {
    padding-top: 3px;
  }

  @media (min-width: 1200px) {
    padding-top: 25px;
  }
}

.reference-form__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: 768px) {
    font-size: 21px;
    margin-bottom: 27px;
  }
}

.reference-form__title--left {
  @media (min-width: 768px) {
    margin-left: 41px;
  }

  @media (min-width: 1200px) {
    margin-left: 65px;
  }
}

.reference-form__title--right {
  @media (min-width: 768px) {
    margin-left: -38px;
  }

  @media (min-width: 1200px) {
    margin-right: 0;
    margin-left: 0;
    text-align: left;
    padding-left: 30px;
  }
}

.reference-form__title--line::before {
  @media (min-width: 768px) {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background: #dbdbdb;
    left: 0;
    top: 50%;
  }

  @media (min-width: 1200px) {
    width: 280px;
  }
}

.reference-form__title--line::after {
  @media (min-width: 768px) {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background: #dbdbdb;
    right: 0;
    top: 50%;
  }

  @media (min-width: 1200px) {
    width: 280px;
  }
}

.reference-form__wrapper {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.reference-form__field {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 16px;
  padding-right: 60px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  margin-bottom: 16px;
  border: none;
  box-sizing: border-box;
  width: 280px;
  position: relative;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 0 4px #e5e5e5;
  }

  @media (min-width: 768px) {
    width: 280px;
  }

  @media (min-width: 1200px) {
    width: 430px;
  }
}

.reference-form__label {
  padding-left: 16px;
}

.reference-form__label--title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: 768px) {
    font-size: 21px;
  }

  &::before {
    @media (min-width: 768px) {
      position: absolute;
      content: "";
      width: 123px;
      height: 1px;
      background: #dbdbdb;
      left: -200px;
      top: 50%;
    }

    @media (min-width: 1200px) {
      width: 280px;
      left: -355px;
    }
  }

  &::after {
    @media (min-width: 768px) {
      position: absolute;
      content: "";
      width: 123px;
      height: 1px;
      background: #dbdbdb;
      right: -200px;
      top: 50%;
    }

    @media (min-width: 1200px) {
      width: 280px;
      right: -355px;
    }
  }
}

.reference-form__field--phone-number {
  color: rgba(0, 0, 0, 0.3);
  background-image: url("../img/form/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: right;

  @media (min-width: 1200px) {
    width: 402px;
  }
}

.reference-form__field--email {
  color: rgba(0, 0, 0, 0.3);
  background-image: url("../img/form/mail-icon.svg");
  background-repeat: no-repeat;
  background-position: right;

  @media (min-width: 1200px) {
    width: 402px;
  }
}

.reference-form__list {
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 648px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 1200px) {
    width: 960px;
  }
}

.reference-form__opinion {
  margin: 0 auto;
  padding: 0;
  text-align: center;

  @media (min-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 648px;
  }

  @media (min-width: 1200px) {
    width: 960px;
  }
}

.reference-form__comment {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;
  color: rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 16px;
  display: block;
  width: 248px;
  min-height: 118px;

  @media (min-width: 768px) {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 648px;
    margin-top: 28px;
    box-sizing: border-box;
    min-height: 160px;
  }

  @media (min-width: 1200px) {
    margin: 0 auto;
    margin-top: 28px;
    width: 768px;
    margin-bottom: 19px;
  }
}

.reference-form__button-wrapper {
  @media (min-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.reference-form__button {
  margin: 0;
  padding: 16px 49px;
  display: block;
  width: 280px;
  margin-bottom: 3px;

  @media (min-width: 768px) {
    margin: 0;
    width: 324px;
  }

  @media (min-width: 1200px) {
    width: 384px;
    margin-left: 96px;
  }
}

.reference-form__warning {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
  text-align: end;

  @media (min-width: 768px) {
    font-size: 14px;
    color: #333333;
    width: 192px;
  }

  @media (min-width: 1200px) {
    margin-right: 95px;
  }
}
