.reference-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.reference-list__item {
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
}

.reference-list__label-item {
  text-transform: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding: 0;
}
