.search-hotel {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 43px 18px 50px;

  @media (min-width: 768px) {
    padding: 61px 155px 58px;
  }

  @media (min-width: 1200px) {
    padding: 61px 371px 66px;
  }
}

.search-hotel__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    font-size: 30px;
    margin-bottom: 33px;
  }
}

.search-hotel__text {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    margin-bottom: 40px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 45px;
  }
}

.search-hotel__text br {
  @media (max-width: 767px) {
    display: none;
  }
}

.search-hotel__button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding: 16px 49px;
  margin: 0;
  display: block;
}
