.sedona-logo {
  text-align: center;
  background-color: #000000;
  background-image: url("../img/catalog/background-logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 52px;
  padding-bottom: 67px;
  position: relative;

  @media (min-width: 768px) {
    padding-top: 95px;
    padding-bottom: 117px;
  }

  @media (min-width: 1200px) {
    padding-top: 101px;
    padding-bottom: 120px;
  }
}
