.sedona-logo {
  text-align: center;
  background-color: #000000;
  background-image: url("../img/catalog/background-logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 52px;
  padding-bottom: 67px;
}
