.service {
  list-style-type: none;
  text-transform: uppercase;
  margin: 0;
  background-color: #ffffff;
  padding: 31px 18px 10px 65px;
}

.service__item {
  text-align: start;
  margin-bottom: 30px;
}

.service__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.service__description {
  margin: 0;
  padding: 0;
}
