.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  /*@media (max-width: 767px) {
    position: absolute;
    width: 320px;
  }*/

  @media (min-width: 768px) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  @media (min-width: 1200px) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.site-list__item {
  text-decoration: none;
  background-color: #81b3d2;
  cursor: pointer;

  &:hover {
    background: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  @media (min-width: 768px) {
    width: 155px;
    background-color: #ffffff;

    &:hover {
      background: #ffffff;
    }

    &:active {
      background-color: #ffffff;
    }
  }

  @media (min-width: 1200px) {
    width: 240px;
    background-color: #ffffff;
  }

  @media (min-width: 768px) {
    &:nth-child(2) {
      margin-right: auto;
    }
  }
}


.site-list__item a {
  @media (max-width: 767px) {
    text-decoration: none;
    color: #ffffff;
    padding: 17px 77px 12px 77px;
    box-sizing: border-box;
    display: block;
    margin: 0;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #81b3d2;

    &:hover {
      color: #ffffff;
    }

    &:active {
      opacity: 0.2;
    }
  }

  @media (min-width: 768px) {
    text-decoration: none;
    color: #000000;
    padding: 16px 0 14px 0;
    box-sizing: border-box;
    display: block;
    font-size: 14px;

    &:hover {
      color: #81b3d2;
    }

    &:active {
      color: #000000;
      opacity: 0.3;
    }
  }

  @media (min-width: 1200px) {
    text-decoration: none;
    color: #000000;
    padding: 18px 25px 12px 25px;
    box-sizing: border-box;
    display: block;
  }
}

.site-list__item:last-child::after {
  @media (max-width: 767px) {
    content: "";
    position: absolute;
    right: 0;
    z-index: 2;
    width: 320px;
    height: 7px;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }
}

.site-list__item--current a {
  @media (min-width: 768px) {
    color: #766357;
  }
}
