.social {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    margin: 0 auto;
  }
}

.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.social__item {
  width: 48px;
  padding: 5px;
  cursor: pointer;
}

.social__icon {
  fill: #81b3d2;

  &:hover {
    fill: #669ec0;
  }

  &:active {
    fill: #5496bd;
    opacity: 0.3;
  }
}
