.welcome {
  padding: 90px 18px 85px 18px;
  background-image: url("../img/common/main-background-phone.jpg");
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: cover;
  text-align: center;
  object-fit: cover;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/common/main-background-phone@2x.jpg");
  }

  @media (min-width: 768px) {
    padding: 77px 18px 85px 18px;
    background-image: url("../img/common/main-background-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/common/main-background-tablet@2x.jpg");
    }
  }

  @media (min-width: 1200px) {
    background-image: url("../img/common/main-background-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/common/main-background-desktop@2x.jpg");
    }
  }

  &::after {
    content: "";
    background-image: url("../img/common/intro-triangle.svg");
    background-repeat: no-repeat;
    position: absolute;
    height: 57px;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: 1200px auto;
    background-position: center bottom;
  }
}
