.welcome {
  padding: 90px 18px 85px 18px;
  background-image: url("/img/common/main-background.jpg");
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: cover;
  text-align: center;
}
